@import '../../../../style/mixin.scss';

.about.pc-view {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  padding: $padding-big 0;

  .covered-text {
      pointer-events: none;
  }
  .vsco-link,
  .github-link {
     display: flex;
     align-items: center;
     margin-right: 10px;

     img, svg {
        width: $base-icon-size;
        height: $base-icon-size;
        margin-right: $padding-1;
     }
  }

  &.mobile {
    .photo-in-waterfall:not(:last-child) {
      margin-bottom: $padding-huge;
    }
    .posts-wrapper {
      padding: $padding-big - $padding-2;
      .post-title {
        font-size: 18px
      }
      .post {
        margin-bottom: $padding-huge;
      }
    }

    .about {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  .cover-image {
    @include withBlurCover(320px, 363px, 3px);
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    img {
      width: 100%;
      max-width: 80%;
    }

    canvas {
      position: absolute;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;

    a { display: flex; }
  }
}