.canvas-page {
  * {
    user-select: none;
  }
  height: 100%;

  $canvasBackgroundColor: #fff;
  background:
          linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
          linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
          linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
          linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
          linear-gradient(transparent 3px, $canvasBackgroundColor 3px, $canvasBackgroundColor 78px, transparent 78px),
          linear-gradient(-90deg, #aaaaaa 1px, transparent 1px),
          linear-gradient(-90deg, transparent 3px, $canvasBackgroundColor 3px, $canvasBackgroundColor 78px, transparent 78px),
          linear-gradient(#aaa 1px, transparent 1px),
          $canvasBackgroundColor;

  background-size:
          4px 4px,
          4px 4px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px;

  //background-size: 40px 40px;
  //background-image:
  //  linear-gradient(to right, #f0f0f0 1px, transparent 1px),
  //  linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);

  .preview-box {
    position: absolute;
    border: solid 1px $gray-4;
    background: $gray-6;
    opacity: 1;
    transition: opacity .3s, background .3s;
    overflow: visible;
    color: $gray-4;

    &:after {
      min-width: 300px;
      text-align: right;
      content: attr(data-size);
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 10px;
      font-size: 10px;
    }

    &.active {
      border: solid 1px $green-3;
      background: $green-5;
      opacity: .9;
      color: $green-2;
    }
  }

  .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }

  .delete {
    color: #999;
    transition: color .3s;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &.big {
      font-size: 18px;
      font-weight: bold;
    }

    &.black {
      color: black;
    }

    &.red,
    &:hover {
      color: $red-3;
    }
  }
}