.article-layout {
  cursor: none;
  padding: $padding-big 2 * $padding-big;
  .actions {
    position: relative;
    margin-top: $padding-huge;

    display: inline-flex;
    justify-content: space-between;


    span:not(.counter) {
      cursor: pointer;
      transition: color .2s;
      z-index: 1;
      user-select: none;

      &:hover {
        color: $green-1;
      }
    }

    span:not(:first-child) {
      margin-left: $padding-2;
    }
    
    span {

      display: flex;
      align-items: center;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: .8;
    }
  }
}