@media (max-width: 500px) {
  #pointer {
    display: none
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.white-bg {
  background: #fff;
}

html {
  overflow: hidden;
  height: 100%;
}


.love, a {
  color: #6BCBA8;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: #000;
  }
}

::-webkit-scrollbar {
  width: 0 !important;
}

#gui.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}
