.menu-button {
  position: fixed;
  border: none;
  outline: none;
  top: $padding-big;
  left: $padding-big;
  width: 25px;
  height: 26px;
  border-radius: 0;
  opacity: 0;
  box-shadow: #6bcba88f -8px -8px 3px 0, #6bcba859 -20px -20px 10px 0;
  background: $green-1;
  z-index: 1;
  transition: all .3s;
  cursor: pointer;
  pointer-events: none;

  &.show {
    pointer-events: all;
    transition-delay: .3s;
    opacity: 1;
    box-shadow: #6bcba88f -5px -5px 0 0, #6bcba859 -10px -10px 0 0;
  }

  &:active {
    bottom: 23px;
    right: 17px;
    box-shadow: #6bcba88f -1px -1px 0 0;
  }
}
