.posts-editor {
  padding: $padding-big 2 * $padding-big;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  label {
    margin-right: $padding-1;
  }

  .pane {
    flex: 1 1 auto;
  }

  .yuque-auth-btn {
    cursor: pointer;
    svg {
      margin-top: 3px;
    }
  }
  .keys {
    input {
      font-family: $body-font-family;
      border: none;
      outline: none;
      border-bottom: solid 1px $green-1;
      padding: $padding-1;
      background: none;
    }
  }
}
