.cursor-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 500;
  background-color: transparent;
  mix-blend-mode: difference;
  pointer-events: none;

  $cursor-size: 20px;
  .custom-cursor {
    $cursor-normal-color: #d6f0e6;
    $cursor-normal-color-diff-with-white: rgb(41, 10, 25);
    width: $cursor-size;
    height: $cursor-size;
    margin-left: -0.5 * $cursor-size;
    margin-top: -0.5 * $cursor-size;
    will-change: transform;
    transition: transform .1s, opacity .7s, width .3s, height .3s, margin-left .3s, margin-top .3s linear;
    border-radius: 50%;
    background: $cursor-normal-color-diff-with-white;
    opacity: 0.8;

    pointer-events: none;
    backdrop-filter: blur(32px) contrast(1.5) brightness(1) saturate(1.5);

    &.hidden {
      opacity: 0;

      width: 2 * $cursor-size;
      height: 2 * $cursor-size;
      margin-left: -1 * $cursor-size;
      margin-top: -1 * $cursor-size;
    }
  }

  .custom-cursor,
  .cursor-text {
    position: absolute;
    pointer-events: none;
    z-index: 500;
  }

  .cursor-text {
    color: $white;
    opacity: 1;
    font-family: Untitled Sans,Helvetica,Arial,sans-serif;
    transition: transform .1s, opacity .7s;
    &.hidden {
      opacity: 0;
    }
  }
}